# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.ipynb_checkpoints
dist/
build/
*.egg-info/
.tox/
.coverage
.pytest_cache/
htmlcov/
.mypy_cache/
.dmypy.json
.ruff_cache/
.vscode/
.idea/

# Specific to Acoustical project
acp.venv/
